*.pyc
*.pyx
.*.swp
*.egg-info
__pycache__/
benchmarking_results/
html_cache/
.tox
build/
dist/
.cache/
.project
.pydevproject
.settings/
.pytest_cache/
.coverage
_build/
.mypy_cache/
.idea/
venv/
tests/converted.txt
tests/reference.txt
*.c
docs/paper/*.pdf
htmlcov/
poetry.lock

# test
converted.txt
reference.txt
